In [20]:
import requests
import pandas as pd
import re

In [21]:
anni = ["2013", "2014", "2015"]
mesi = ["01", "02", "03", "04", "05", "06","07", "08", "09", "10", "11", "12"]

In [22]:
# 2012 bisestile
newDF = pd.DataFrame(columns=["Ora","Grado","Giorno","Mese","Anno"])

def split_ora(ora):
    return re.findall('\d?\d\.\d\d', ora)

def split_gradi(gradi):
    return re.findall('[\-]?\d', gradi)


#2012
for j in mesi:
    if j == "01":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30", "31"]
    elif j == "02":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29"]
    elif j == "03":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30", "31"]
    elif j == "04":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30"]
    elif j == "05":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30", "31"]
    elif j == "06":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30"]
    elif j == "07":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30", "31"]
    elif j == "08":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30", "31"]
    elif j == "09":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30"]
    elif j == "10":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30", "31"]
    elif j == "11":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30"]
    elif j == "12":
        giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
          "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
          "27", "28", "29", "30", "31"]
    for k in giorni:
        url = "https://www.timeanddate.com/scripts/cityajax.php?n=sweden/stockholm&mode=historic&hd=2012" + j + k + "&month=" + j + "&year=2012&json=1"
        pagina_web = requests.get(url)
        pagina_web = pagina_web.text.split("{")
        g = 0
        maxloop = len(pagina_web)
        while g < maxloop-1:
            ora = pagina_web[g+2]
            gradi = pagina_web[g+4]
            newDF = newDF.append({'Ora': ora, 'Grado' : gradi, 'Giorno' : k, 'Mese' : j, 'Anno' : "2012"}, ignore_index=True)
            g += 10
            
newDF['GradoFix'] = newDF['Grado'].apply(split_gradi)

newDF['OraFix'] = newDF['Ora'].apply(split_ora)

newDF['OraFix2'] = ""

i = 0
while i < len(newDF.index):
    newDF.OraFix2[i] = ''.join(newDF.OraFix[i])
    newDF.GradoFix[i] = ''.join(newDF.GradoFix[i])
    i+=1

KeyboardInterrupt:

In [ ]:
newDF.Ora[1]

In [ ]:
def split_ora(ora):
    return re.findall('\d+\:\d+', ora)

newDF['OraFix2'] = newDF['Ora'].apply(split_ora)
newDF

In [ ]:
i = 0
while i < len(newDF.index):
    newDF.OraFix2[i] = ''.join(newDF.OraFix2[i])
    #newDF.GradoFix[i] = ''.join(newDF.GradoFix[i])
    i+=1

patternDel = "\:[3]"
filterx = newDF.OraFix2.str.contains(patternDel)

newDF = newDF[~filterx]

newDF

In [ ]:
newDF.drop(['Ora', 'Grado', 'OraFix'], axis=1, inplace=True)

In [ ]:
# salvo temperature
newDF.to_csv("C:/Users/vizzi/Documents/temperature_toto_2012.csv", index=False)

In [23]:
newDF2 = pd.DataFrame(columns=["Ora","Grado","Giorno","Mese","Anno"])

In [24]:
# 2013 2014 2015


def split_ora(ora):
    return re.findall('\d?\d\:\d\d', ora)

def split_gradi(gradi):
    return re.findall('[\-]?\d', gradi)


i = "2013" 
for j in mesi:
        if j == "01":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "02":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28"]
        elif j == "03":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "04":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "05":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "06":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "07":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "08":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "09":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "10":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "11":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "12":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]

        for k in giorni:
            url = "https://www.timeanddate.com/scripts/cityajax.php?n=sweden/stockholm&mode=historic&hd="+ i + j + k + "&month=" + j + "&year=" + i + "&json=1"
            pagina_web = requests.get(url)
            pagina_web = pagina_web.text.split("{")
            g = 0
            maxloop = len(pagina_web)
            while g < maxloop-1:
                ora = pagina_web[g+2]
                gradi = pagina_web[g+4]
                newDF2 = newDF2.append({'Ora': ora, 'Grado' : gradi, 'Giorno' : k, 'Mese' : j, 'Anno' : i}, ignore_index=True)
                g += 10
                    
newDF2['GradoFix'] = newDF2['Grado'].apply(split_gradi)
newDF2['OraFix'] = newDF2['Ora'].apply(split_ora)

In [38]:
newDF2.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Di, 1...","h:""5&nbsp;°C""},",01,01,2013,[5],[]
1,"h:""00:50""},","h:""5&nbsp;°C""},",01,01,2013,[5],[]
2,"h:""01:20""},","h:""5&nbsp;°C""},",01,01,2013,[5],[]
3,"h:""01:50""},","h:""5&nbsp;°C""},",01,01,2013,[5],[]
4,"h:""02:20""},","h:""5&nbsp;°C""},",01,01,2013,[5],[]

In [29]:
# salvo temperature
newDF2.to_csv("C:/Users/vizzi/Documents/orginale/temperature_toto_2013secondo_ok.csv", index=False)

In [41]:

def split_ora(ora):
    return re.findall('\d?\d\:\d\d', ora)

def split_gradi(gradi):
    return re.findall('[\-]?\d', gradi)

newDF2['GradoFix'] = newDF2['Grado'].apply(split_gradi)
newDF2['OraFix'] = newDF2['Ora'].apply(split_ora)

In [42]:
newDF2.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Di, 1...","h:""5&nbsp;°C""},",01,01,2013,[5],[00:20]
1,"h:""00:50""},","h:""5&nbsp;°C""},",01,01,2013,[5],[00:50]
2,"h:""01:20""},","h:""5&nbsp;°C""},",01,01,2013,[5],[01:20]
3,"h:""01:50""},","h:""5&nbsp;°C""},",01,01,2013,[5],[01:50]
4,"h:""02:20""},","h:""5&nbsp;°C""},",01,01,2013,[5],[02:20]

In [43]:
i = 0
while i < len(newDF2.index):
    newDF2.OraFix[i] = ''.join(newDF2.OraFix[i])
    newDF2.GradoFix[i] = ''.join(newDF2.GradoFix[i])
    i+=1

In [44]:
newDF2.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Di, 1...","h:""5&nbsp;°C""},",01,01,2013,5,00:20
1,"h:""00:50""},","h:""5&nbsp;°C""},",01,01,2013,5,00:50
2,"h:""01:20""},","h:""5&nbsp;°C""},",01,01,2013,5,01:20
3,"h:""01:50""},","h:""5&nbsp;°C""},",01,01,2013,5,01:50
4,"h:""02:20""},","h:""5&nbsp;°C""},",01,01,2013,5,02:20

In [46]:
patternDel = "\:[20]"
filterx = newDF2.OraFix.str.contains(patternDel)

newDF22 = newDF2[~filterx]

newDF22.head()

           Ora            Grado Giorno Mese  Anno GradoFix OraFix
1  h:"00:50"},  h:"5&nbsp;°C"},     01   01  2013        5  00:50
3  h:"01:50"},  h:"5&nbsp;°C"},     01   01  2013        5  01:50
5  h:"02:50"},  h:"5&nbsp;°C"},     01   01  2013        5  02:50
7  h:"03:50"},  h:"5&nbsp;°C"},     01   01  2013        5  03:50
9  h:"04:50"},  h:"5&nbsp;°C"},     01   01  2013        5  04:50

In [47]:
newDF22["OraFix4"] = ""

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
newDF22["OraFix4"] = pd.to_datetime(newDF22["OraFix"], format='%H:%M')

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
from datetime import datetime, timedelta

In [51]:
newDF22["OraFix4"] = newDF22["OraFix4"] + timedelta(minutes=10)

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:

newDF22['OraFix5'] = [datetime.time(d) for d in newDF22['OraFix4']]

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
newDF22.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix,OraFix4,OraFix5
1,"h:""00:50""},","h:""5&nbsp;°C""},",01,01,2013,5,00:50,1900-01-01 01:00:00,01:00:00
3,"h:""01:50""},","h:""5&nbsp;°C""},",01,01,2013,5,01:50,1900-01-01 02:00:00,02:00:00
5,"h:""02:50""},","h:""5&nbsp;°C""},",01,01,2013,5,02:50,1900-01-01 03:00:00,03:00:00
7,"h:""03:50""},","h:""5&nbsp;°C""},",01,01,2013,5,03:50,1900-01-01 04:00:00,04:00:00
9,"h:""04:50""},","h:""5&nbsp;°C""},",01,01,2013,5,04:50,1900-01-01 05:00:00,05:00:00

In [56]:

newDF22.drop(['Ora', 'Grado', 'OraFix','OraFix4'], axis=1, inplace=True)

C:\Users\vizzi\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [57]:
newDF22.head()

  Giorno Mese  Anno GradoFix   OraFix5
1     01   01  2013        5  01:00:00
3     01   01  2013        5  02:00:00
5     01   01  2013        5  03:00:00
7     01   01  2013        5  04:00:00
9     01   01  2013        5  05:00:00

In [59]:
# salvo temperature
newDF22.to_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2013.csv", index=False)

In [16]:
newDF2.head()

  Giorno Mese  Anno GradoFix
0     01   01  2013        5
1     01   01  2013        5
2     01   01  2013        5
3     01   01  2013        5
4     01   01  2013        5

In [17]:
# salvo temperature
newDF2.to_csv("C:/Users/vizzi/Documents/ok/temperature_toto_2013secondo_ok.csv", index=False)

In [31]:
newDF3 = pd.DataFrame(columns=["Ora","Grado","Giorno","Mese","Anno"])

In [32]:
# 2013 2014 2015


def split_ora(ora):
    return re.findall('\d?\d\.\d\d', ora)

def split_gradi(gradi):
    return re.findall('[\-]?\d', gradi)

i = "2014" 
for j in mesi:
        if j == "01":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "02":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28"]
        elif j == "03":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "04":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "05":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "06":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "07":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "08":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "09":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "10":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "11":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "12":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]

        for k in giorni:
            url = "https://www.timeanddate.com/scripts/cityajax.php?n=sweden/stockholm&mode=historic&hd="+ i + j + k + "&month=" + j + "&year=" + i + "&json=1"
            pagina_web = requests.get(url)
            pagina_web = pagina_web.text.split("{")
            g = 0
            maxloop = len(pagina_web)
            while g < maxloop-1:
                ora = pagina_web[g+2]
                gradi = pagina_web[g+4]
                newDF3 = newDF3.append({'Ora': ora, 'Grado' : gradi, 'Giorno' : k, 'Mese' : j, 'Anno' : i}, ignore_index=True)
                g += 10
                    
newDF3['GradoFix'] = newDF3['Grado'].apply(split_gradi)
newDF3['OraFix'] = newDF3['Ora'].apply(split_ora)

In [33]:
# salvo temperature
newDF3.to_csv("C:/Users/vizzi/Documents/orginale/temperature_toto_2014secondo_ok.csv", index=False)

In [61]:
newDF3.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Mi, 1...","h:""3&nbsp;°C""},",01,01,2014,[3],[]
1,"h:""00:50""},","h:""3&nbsp;°C""},",01,01,2014,[3],[]
2,"h:""01:20""},","h:""3&nbsp;°C""},",01,01,2014,[3],[]
3,"h:""01:50""},","h:""3&nbsp;°C""},",01,01,2014,[3],[]
4,"h:""02:20""},","h:""3&nbsp;°C""},",01,01,2014,[3],[]

In [62]:
def split_ora(ora):
    return re.findall('\d?\d\:\d\d', ora)

def split_gradi(gradi):
    return re.findall('[\-]?\d', gradi)

newDF3['GradoFix'] = newDF3['Grado'].apply(split_gradi)
newDF3['OraFix'] = newDF3['Ora'].apply(split_ora)

In [63]:
newDF3.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Mi, 1...","h:""3&nbsp;°C""},",01,01,2014,[3],[00:20]
1,"h:""00:50""},","h:""3&nbsp;°C""},",01,01,2014,[3],[00:50]
2,"h:""01:20""},","h:""3&nbsp;°C""},",01,01,2014,[3],[01:20]
3,"h:""01:50""},","h:""3&nbsp;°C""},",01,01,2014,[3],[01:50]
4,"h:""02:20""},","h:""3&nbsp;°C""},",01,01,2014,[3],[02:20]

In [64]:
i = 0
while i < len(newDF3.index):
    newDF3.OraFix[i] = ''.join(newDF3.OraFix[i])
    newDF3.GradoFix[i] = ''.join(newDF3.GradoFix[i])
    i+=1

In [65]:
newDF3.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Mi, 1...","h:""3&nbsp;°C""},",01,01,2014,3,00:20
1,"h:""00:50""},","h:""3&nbsp;°C""},",01,01,2014,3,00:50
2,"h:""01:20""},","h:""3&nbsp;°C""},",01,01,2014,3,01:20
3,"h:""01:50""},","h:""3&nbsp;°C""},",01,01,2014,3,01:50
4,"h:""02:20""},","h:""3&nbsp;°C""},",01,01,2014,3,02:20

In [66]:
patternDel = "\:[20]"
filterx = newDF3.OraFix.str.contains(patternDel)

newDF33 = newDF3[~filterx]

newDF33.head()

           Ora            Grado Giorno Mese  Anno GradoFix OraFix
1  h:"00:50"},  h:"3&nbsp;°C"},     01   01  2014        3  00:50
3  h:"01:50"},  h:"3&nbsp;°C"},     01   01  2014        3  01:50
5  h:"02:50"},  h:"3&nbsp;°C"},     01   01  2014        3  02:50
7  h:"03:50"},  h:"4&nbsp;°C"},     01   01  2014        4  03:50
9  h:"04:50"},  h:"3&nbsp;°C"},     01   01  2014        3  04:50

In [10]:
patternDel = "\:[20]"
filterx = newDF3.OraFix.str.contains(patternDel)

newDF3 = newDF3[~filterx]

In [69]:
newDF33["OraFix4"] = ""

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
newDF33.head()

           Ora            Grado Giorno Mese  Anno GradoFix OraFix OraFix4
1  h:"00:50"},  h:"3&nbsp;°C"},     01   01  2014        3  00:50
3  h:"01:50"},  h:"3&nbsp;°C"},     01   01  2014        3  01:50
5  h:"02:50"},  h:"3&nbsp;°C"},     01   01  2014        3  02:50
7  h:"03:50"},  h:"4&nbsp;°C"},     01   01  2014        4  03:50
9  h:"04:50"},  h:"3&nbsp;°C"},     01   01  2014        3  04:50

In [72]:
newDF33["OraFix4"] = pd.to_datetime(newDF33["OraFix"], format='%H:%M')

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [73]:
newDF33["OraFix4"] = ""
newDF33["OraFix4"] = pd.to_datetime(newDF33["OraFix"], format='%H:%M')
from datetime import datetime, timedelta
newDF33["OraFix4"] = newDF33["OraFix4"] + timedelta(minutes=10)
newDF33['OraFix5'] = [datetime.time(d) for d in newDF33['OraFix4']]
newDF33.drop(['Ora', 'Grado', 'OraFix','OraFix4'], axis=1, inplace=True)

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\vizzi\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [74]:
newDF33.head()

  Giorno Mese  Anno GradoFix   OraFix5
1     01   01  2014        3  01:00:00
3     01   01  2014        3  02:00:00
5     01   01  2014        3  03:00:00
7     01   01  2014        4  04:00:00
9     01   01  2014        3  05:00:00

In [75]:
# salvo temperature
newDF33.to_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2014.csv", index=False)

In [11]:
newDF3.drop(['Ora', 'Grado', 'OraFix'], axis=1, inplace=True)

In [13]:
# salvo temperature
newDF3.to_csv("C:/Users/vizzi/Documents/ok/temperature_toto_2014_ok.csv", index=False)

In [35]:
newDF4 = pd.DataFrame(columns=["Ora","Grado","Giorno","Mese","Anno"])

In [36]:
# 2013 2014 2015


def split_ora(ora):
    return re.findall('\d?\d\.\d\d', ora)

def split_gradi(gradi):
    return re.findall('[\-]?\d', gradi)

i = "2015" 
for j in mesi:
        if j == "01":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "02":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28"]
        elif j == "03":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "04":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "05":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "06":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "07":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "08":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "09":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "10":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]
        elif j == "11":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30"]
        elif j == "12":
            giorni = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14",
              "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26",
              "27", "28", "29", "30", "31"]

        for k in giorni:
            url = "https://www.timeanddate.com/scripts/cityajax.php?n=sweden/stockholm&mode=historic&hd="+ i + j + k + "&month=" + j + "&year=" + i + "&json=1"
            pagina_web = requests.get(url)
            pagina_web = pagina_web.text.split("{")
            g = 0
            maxloop = len(pagina_web)
            while g < maxloop-1:
                ora = pagina_web[g+2]
                gradi = pagina_web[g+4]
                newDF4 = newDF4.append({'Ora': ora, 'Grado' : gradi, 'Giorno' : k, 'Mese' : j, 'Anno' : i}, ignore_index=True)
                g += 10
                    
newDF4['GradoFix'] = newDF4['Grado'].apply(split_gradi)
newDF4['OraFix'] = newDF4['Ora'].apply(split_ora)

In [37]:
# salvo temperature
newDF4.to_csv("C:/Users/vizzi/Documents/orginale/temperature_toto_2015secondo_ok.csv", index=False)

In [101]:
newDF4 = pd.read_csv("C:/Users/vizzi/Documents/orginale/temperature_toto_2015secondo_ok.csv") 

# Preview the first 5 lines of the loaded data 
newDF4.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Do, 1...","h:""3&nbsp;°C""},",1,1,2015,['3'],[]
1,"h:""00:50""},","h:""3&nbsp;°C""},",1,1,2015,['3'],[]
2,"h:""01:20""},","h:""4&nbsp;°C""},",1,1,2015,['4'],[]
3,"h:""01:50""},","h:""4&nbsp;°C""},",1,1,2015,['4'],[]
4,"h:""02:20""},","h:""3&nbsp;°C""},",1,1,2015,['3'],[]

In [102]:
newDF4.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Do, 1...","h:""3&nbsp;°C""},",1,1,2015,['3'],[]
1,"h:""00:50""},","h:""3&nbsp;°C""},",1,1,2015,['3'],[]
2,"h:""01:20""},","h:""4&nbsp;°C""},",1,1,2015,['4'],[]
3,"h:""01:50""},","h:""4&nbsp;°C""},",1,1,2015,['4'],[]
4,"h:""02:20""},","h:""3&nbsp;°C""},",1,1,2015,['3'],[]

In [103]:
def split_ora(ora):
    return re.findall('\d?\d\:\d\d', ora)

def split_gradi(gradi):
    return re.findall('[\-]?\d', gradi)

newDF4['GradoFix'] = newDF4['Grado'].apply(split_gradi)
newDF4['OraFix'] = newDF4['Ora'].apply(split_ora)

In [96]:
newDF4.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Do, 1...","h:""3&nbsp;°C""},",1,1,2015,[3],[00:20]
1,"h:""00:50""},","h:""3&nbsp;°C""},",1,1,2015,[3],[00:50]
2,"h:""01:20""},","h:""4&nbsp;°C""},",1,1,2015,[4],[01:20]
3,"h:""01:50""},","h:""4&nbsp;°C""},",1,1,2015,[4],[01:50]
4,"h:""02:20""},","h:""3&nbsp;°C""},",1,1,2015,[3],[02:20]

In [104]:
i = 0
while i < len(newDF4.index):
    newDF4.OraFix[i] = ''.join(newDF4.OraFix[i])
    newDF4.GradoFix[i] = ''.join(newDF4.GradoFix[i])
    i+=1

C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\vizzi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

KeyboardInterrupt:

In [109]:
newDF4.head()

,Ora,Grado,Giorno,Mese,Anno,GradoFix,OraFix
0,"h:""00:20<br><span class=\""smaller soft\"">Do, 1...","h:""3&nbsp;°C""},",1,1,2015,3,00:20
1,"h:""00:50""},","h:""3&nbsp;°C""},",1,1,2015,3,00:50
2,"h:""01:20""},","h:""4&nbsp;°C""},",1,1,2015,4,01:20
3,"h:""01:50""},","h:""4&nbsp;°C""},",1,1,2015,4,01:50
4,"h:""02:20""},","h:""3&nbsp;°C""},",1,1,2015,3,02:20

In [111]:
type(newDF4.OraFix[0])

str

In [113]:
patternDel = "\:[20]"
filterx = newDF4.OraFix.str.contains(patternDel)

newDF55 = newDF4[~filterx]

# newDF4

TypeError: bad operand type for unary ~: 'float'

In [107]:
newDF44.head()

  Giorno Mese  Anno GradoFix   OraFix5
1     01   01  2015        3  01:00:00
3     01   01  2015        4  02:00:00
5     01   01  2015        3  03:00:00
7     01   01  2015        3  04:00:00
9     01   01  2015        3  05:00:00

In [114]:
newDF44["OraFix4"] = ""
newDF44["OraFix4"] = pd.to_datetime(newDF44["OraFix"], format='%H:%M')
from datetime import datetime, timedelta
newDF44["OraFix4"] = newDF44["OraFix4"] + timedelta(minutes=10)
newDF44['OraFix5'] = [datetime.time(d) for d in newDF44['OraFix4']]
newDF44.drop(['Ora', 'Grado', 'OraFix','OraFix4'], axis=1, inplace=True)

KeyError: 'OraFix'

In [115]:
newDF44.head()

  Giorno Mese  Anno GradoFix   OraFix5 OraFix4
1     01   01  2015        3  01:00:00
3     01   01  2015        4  02:00:00
5     01   01  2015        3  03:00:00
7     01   01  2015        3  04:00:00
9     01   01  2015        3  05:00:00

In [118]:
newDF44.drop([ 'OraFix4'], axis=1, inplace=True)

In [13]:
newDF4.head()

  Giorno Mese  Anno GradoFix
0     01   01  2015        3
1     01   01  2015        3
2     01   01  2015        4
3     01   01  2015        4
4     01   01  2015        3

In [119]:
# salvo temperature
newDF44.to_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2015.csv", index=False)

In [ ]:
#############################################################################
#######################################################

In [16]:
data1 = pd.read_csv("C:/Users/vizzi/Documents/ok/temperature_toto_2012_pulito.csv") 

# Preview the first 5 lines of the loaded data 
data1.head()

   Giorno  Mese  Anno  GradoFix OraFix2
0       1     1  2012      -9.0   00:50
1       1     1  2012      -9.0   01:50
2       1     1  2012      -9.0   02:50
3       1     1  2012      -9.0   03:50
4       1     1  2012      -8.0   04:50

In [17]:
data2 = pd.read_csv("C:/Users/vizzi/Documents/ok/temperature_toto_2013secondo_ok.csv") 

# Preview the first 5 lines of the loaded data 
data2.head()

   Giorno  Mese  Anno  GradoFix
0       1     1  2013         5
1       1     1  2013         5
2       1     1  2013         5
3       1     1  2013         5
4       1     1  2013         5

In [18]:
data3 = pd.read_csv("C:/Users/vizzi/Documents/ok/temperature_toto_2014_ok.csv") 

# Preview the first 5 lines of the loaded data 
data3.head()

   Giorno  Mese  Anno  GradoFix
0       1     1  2014         3
1       1     1  2014         3
2       1     1  2014         3
3       1     1  2014         3
4       1     1  2014         3

In [19]:
data4 = pd.read_csv("C:/Users/vizzi/Documents/ok/temperature_toto_2015_ok.csv") 

# Preview the first 5 lines of the loaded data 
data4.head()

   Giorno  Mese  Anno  GradoFix
0       1     1  2015       3.0
1       1     1  2015       3.0
2       1     1  2015       4.0
3       1     1  2015       4.0
4       1     1  2015       3.0

In [ ]:
newDF.rename(columns={'OraFix2':'OraFix'}, inplace=True)
frames = [newDF, newDF2, newDF3, newDF4]
totale = pd.concat(frames, ignore_index=True)
totale

In [ ]:
totale.to_csv("C:/Users/vizzi/Documents/temperature_toto_tot.csv", index=False)

In [120]:
newDF33= pd.read_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2012_pulito.csv") 

# Preview the first 5 lines of the loaded data 
newDF33.head()

   Giorno  Mese  Anno  GradoFix OraFix2
0       1     1  2012      -9.0   00:50
1       1     1  2012      -9.0   01:50
2       1     1  2012      -9.0   02:50
3       1     1  2012      -9.0   03:50
4       1     1  2012      -8.0   04:50

In [122]:
newDF33["OraFix4"] = ""
newDF33["OraFix4"] = pd.to_datetime(newDF33["OraFix2"], format='%H:%M')
from datetime import datetime, timedelta
newDF33["OraFix4"] = newDF33["OraFix4"] + timedelta(minutes=10)
newDF33['OraFix5'] = [datetime.time(d) for d in newDF33['OraFix4']]
# newDF33.drop(['Ora', 'Grado', 'OraFix','OraFix4'], axis=1, inplace=True)

In [123]:
newDF33.head()

   Giorno  Mese  Anno  GradoFix OraFix2             OraFix4   OraFix5
0       1     1  2012      -9.0   00:50 1900-01-01 01:00:00  01:00:00
1       1     1  2012      -9.0   01:50 1900-01-01 02:00:00  02:00:00
2       1     1  2012      -9.0   02:50 1900-01-01 03:00:00  03:00:00
3       1     1  2012      -9.0   03:50 1900-01-01 04:00:00  04:00:00
4       1     1  2012      -8.0   04:50 1900-01-01 05:00:00  05:00:00

In [124]:
newDF33.drop([ 'OraFix2','OraFix4'], axis=1, inplace=True)

In [125]:
newDF33.head()

   Giorno  Mese  Anno  GradoFix   OraFix5
0       1     1  2012      -9.0  01:00:00
1       1     1  2012      -9.0  02:00:00
2       1     1  2012      -9.0  03:00:00
3       1     1  2012      -9.0  04:00:00
4       1     1  2012      -8.0  05:00:00

In [126]:
# salvo temperature
newDF33.to_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2012_puliti.csv", index=False)

In [127]:
dat1= pd.read_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2012_puliti.csv")

In [132]:
dat1.head()

   Giorno  Mese  Anno  GradoFix   OraFix5
0       1     1  2012      -9.0  01:00:00
1       1     1  2012      -9.0  02:00:00
2       1     1  2012      -9.0  03:00:00
3       1     1  2012      -9.0  04:00:00
4       1     1  2012      -8.0  05:00:00

In [128]:
dat2= pd.read_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2013.csv")

In [133]:
dat2.head()

   Giorno  Mese  Anno  GradoFix   OraFix5
0       1     1  2013         5  01:00:00
1       1     1  2013         5  02:00:00
2       1     1  2013         5  03:00:00
3       1     1  2013         5  04:00:00
4       1     1  2013         5  05:00:00

In [129]:
dat3= pd.read_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2014.csv")

In [134]:
dat3.head()

   Giorno  Mese  Anno  GradoFix   OraFix5
0       1     1  2014         3  01:00:00
1       1     1  2014         3  02:00:00
2       1     1  2014         3  03:00:00
3       1     1  2014         4  04:00:00
4       1     1  2014         3  05:00:00

In [130]:
dat4= pd.read_csv("C:/Users/vizzi/Documents/puliti/temperature_toto_2015.csv")

In [135]:
dat4.head()

   Giorno  Mese  Anno  GradoFix   OraFix5
0       1     1  2015       3.0  01:00:00
1       1     1  2015       4.0  02:00:00
2       1     1  2015       3.0  03:00:00
3       1     1  2015       3.0  04:00:00
4       1     1  2015       3.0  05:00:00

In [136]:
frames = [dat1, dat2, dat3, dat4]
totale = pd.concat(frames, ignore_index=True)
totale

       Giorno  Mese  Anno  GradoFix   OraFix5
0           1     1  2012      -9.0  01:00:00
1           1     1  2012      -9.0  02:00:00
2           1     1  2012      -9.0  03:00:00
3           1     1  2012      -9.0  04:00:00
4           1     1  2012      -8.0  05:00:00
5           1     1  2012      -7.0  06:00:00
6           1     1  2012      -6.0  07:00:00
7           1     1  2012      -4.0  08:00:00
8           1     1  2012      -3.0  09:00:00
9           1     1  2012      -2.0  10:00:00
10          1     1  2012       0.0  11:00:00
11          1     1  2012       1.0  12:00:00
12          1     1  2012       1.0  13:00:00
13          1     1  2012       1.0  14:00:00
14          1     1  2012       2.0  15:00:00
15          1     1  2012       2.0  16:00:00
16          1     1  2012       1.0  17:00:00
17          1     1  2012       2.0  18:00:00
18          1     1  2012       2.0  19:00:00
19          1     1  2012       2.0  20:00:00
20          1     1  2012       3.0  21:00:00
21          1     1  2012       3.0  22:00:00
22          1     1  2012       3.0  23:00:00
23          1     1  2012       3.0  00:00:00
24          2     1  2012       3.0  01:00:00
25          2     1  2012       3.0  02:00:00
26          2     1  2012       4.0  03:00:00
27          2     1  2012       4.0  04:00:00
28          2     1  2012       4.0  05:00:00
29          2     1  2012       4.0  06:00:00
...       ...   ...   ...       ...       ...
33669      30    12  2015       1.0  17:00:00
33670      30    12  2015       1.0  18:00:00
33671      30    12  2015       1.0  19:00:00
33672      30    12  2015       1.0  20:00:00
33673      30    12  2015       1.0  21:00:00
33674      30    12  2015       1.0  22:00:00
33675      30    12  2015       1.0  23:00:00
33676      30    12  2015       1.0  00:00:00
33677      31    12  2015       1.0  01:00:00
33678      31    12  2015       0.0  02:00:00
33679      31    12  2015       1.0  03:00:00
33680      31    12  2015       1.0  04:00:00
33681      31    12  2015       2.0  06:00:00
33682      31    12  2015       1.0  07:00:00
33683      31    12  2015       1.0  09:00:00
33684      31    12  2015       1.0  10:00:00
33685      31    12  2015       2.0  11:00:00
33686      31    12  2015       3.0  12:00:00
33687      31    12  2015       3.0  13:00:00
33688      31    12  2015       2.0  14:00:00
33689      31    12  2015       2.0  15:00:00
33690      31    12  2015       1.0  16:00:00
33691      31    12  2015       1.0  17:00:00
33692      31    12  2015       2.0  18:00:00
33693      31    12  2015       2.0  19:00:00
33694      31    12  2015       2.0  20:00:00
33695      31    12  2015       1.0  21:00:00
33696      31    12  2015       2.0  22:00:00
33697      31    12  2015       3.0  23:00:00
33698      31    12  2015       3.0  00:00:00

[33699 rows x 5 columns]

In [137]:
# salvo temperature
totale.to_csv("C:/Users/vizzi/Documents/finito/temperature_toto_totale_pulito.csv", index=False)