In [8]:
import pandas as pd
from sklearn import svm

In [9]:
df1 = pd.read_csv("/Volumes/HDD_Ale/Progetto_DSLAB/DATASET SERIE STORICHE/totalecondummyseasonal.csv")

In [10]:
df1

,Unnamed: 0,TSTOT.PrezzoScandi,TSTOT.ConsumiScandi,TSTOT.GradiScandi,TSTOT.ConsumipercScandi,TSTOT.PrezzopercScandi,TSTOT.PrezzoPol,TSTOT.ConsumiPol,TSTOT.ConsumipercPol,TSTOT.PrezzopercPol,...,TSTOT.AugustCenterITA,TSTOT.DayOfWeekITA,TSTOT.DayOffITA,df1ts.lunedi,df1ts.martedi,df1ts.mercoledi,df1ts.giovedi,df1ts.venerdi,df1ts.sabato,df1ts.domenica
0,1,29.46,33154.5,-9,0.000000,0.000000,148.06,13680,0.000000,0.000000,...,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,28.64,32427.6,-9,-2.192463,-2.783435,125.21,13115,-15.432933,-4.130117,...,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3,27.72,31971.2,-9,-1.407443,-3.212291,103.17,12438,-17.602428,-5.162028,...,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,27.79,31505.4,-9,-1.456936,0.252525,103.07,12022,-0.096927,-3.344589,...,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,5,28.87,31433.4,-8,-0.228532,3.886290,102.97,11755,-0.097021,-2.220928,...,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,35036,17.23,51625.2,1,1.534268,2.255193,137.00,15028,4.333257,12.073980,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35036,35037,17.68,52163.0,1,1.041739,2.611724,136.40,16762,-0.437956,11.538460,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35037,35038,17.64,52061.0,1,-0.195541,-0.226244,158.08,17832,15.894430,6.383486,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35038,35039,17.00,51248.5,1,-1.560669,-3.628118,158.08,18461,0.000000,3.527367,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35039,35040,16.38,50111.2,1,-2.219187,-3.647059,158.28,18801,0.126518,1.841720,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
is_NaN = df_italia.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_italia[row_has_NaN]

print(rows_with_NaN)

Empty DataFrame
Columns: [TSTOT.PrezzoITA, TSTOT.ConsumiITA, TSTOT.GradiITA, TSTOT.BankHolidayITA, TSTOT.EndYearITA, TSTOT.AugustBorderITA, TSTOT.EndYearITA, lunedi, martedi, mercoledi, giovedi, venerdi, sabato, domenica]
Index: []

In [104]:
selected_columns = df1[['TSTOT.PrezzoITA','TSTOT.ConsumiITA','TSTOT.GradiITA',
                       'TSTOT.BankHolidayITA','TSTOT.EndYearITA','TSTOT.AugustBorderITA',
                       'TSTOT.EndYearITA', "TSTOT.AugustCenterITA"]]
df_italia = selected_columns.copy()

In [105]:
df_italia

,TSTOT.PrezzoITA,TSTOT.ConsumiITA,TSTOT.GradiITA,TSTOT.BankHolidayITA,TSTOT.EndYearITA,TSTOT.AugustBorderITA,TSTOT.EndYearITA,TSTOT.AugustCenterITA
0,82.81,24659.16,-1,0,0,0,0,0
1,75.77,23387.59,0,0,0,0,0,0
2,59.92,22090.76,-1,0,0,0,0,0
3,59.92,21009.12,-1,0,0,0,0,0
4,59.01,20350.99,-1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
35035,46.05,34077.22,9,0,1,0,1,0
35036,51.79,35120.58,8,0,1,0,1,0
35037,57.18,38813.89,7,0,1,0,1,0
35038,57.90,38853.34,5,0,1,0,1,0
35039,54.37,36225.73,4,0,1,0,1,0

In [106]:
df2 = pd.read_csv("/Users/alessandropontini/Desktop/dummyseasonal.csv")

In [107]:
df_italia["lunedi"] = pd.Series(df2["lunedi"], index=df1.index)
df_italia["martedi"] = pd.Series(df2["martedi"], index=df1.index)
df_italia["mercoledi"] = pd.Series(df2["mercoledi"], index=df1.index)
df_italia["giovedi"] = pd.Series(df2["giovedi"], index=df1.index)
df_italia["venerdi"] = pd.Series(df2["venerdi"], index=df1.index)
df_italia["sabato"] = pd.Series(df2["sabato"], index=df1.index)
df_italia["domenica"] = pd.Series(df2["domenica"], index=df1.index)

In [108]:
df_italia

,TSTOT.PrezzoITA,TSTOT.ConsumiITA,TSTOT.GradiITA,TSTOT.BankHolidayITA,TSTOT.EndYearITA,TSTOT.AugustBorderITA,TSTOT.EndYearITA,TSTOT.AugustCenterITA,lunedi,martedi,mercoledi,giovedi,venerdi,sabato,domenica
0,82.81,24659.16,-1,0,0,0,0,0,0,0,0,0,0,0,1
1,75.77,23387.59,0,0,0,0,0,0,0,0,0,0,0,0,1
2,59.92,22090.76,-1,0,0,0,0,0,0,0,0,0,0,0,1
3,59.92,21009.12,-1,0,0,0,0,0,0,0,0,0,0,0,1
4,59.01,20350.99,-1,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,46.05,34077.22,9,0,1,0,1,0,0,0,0,0,1,0,0
35036,51.79,35120.58,8,0,1,0,1,0,0,0,0,0,1,0,0
35037,57.18,38813.89,7,0,1,0,1,0,0,0,0,0,1,0,0
35038,57.90,38853.34,5,0,1,0,1,0,0,0,0,0,1,0,0
35039,54.37,36225.73,4,0,1,0,1,0,0,0,0,0,1,0,0

In [49]:
len(df_italia)

35040

In [109]:
df_italia = df_italia.reindex()

In [110]:
selected_columns1 = ['TSTOT.PrezzoITA','TSTOT.ConsumiITA','TSTOT.GradiITA',
                       'TSTOT.BankHolidayITA','TSTOT.EndYearITA','TSTOT.AugustBorderITA',
                       'TSTOT.EndYearITA',"TSTOT.AugustCenterITA", 'lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi', 'sabato', 'domenica']

In [111]:
df_8mattina2

,TSTOT.PrezzoITA,TSTOT.ConsumiITA,TSTOT.GradiITA,TSTOT.BankHolidayITA,TSTOT.EndYearITA,TSTOT.AugustBorderITA,TSTOT.EndYearITA,lunedi,martedi,mercoledi,giovedi,venerdi,sabato,domenica
0,61.10,21393.44,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,62.21,24575.04,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,94.41,29779.51,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,57.00,20365.17,5.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,86.40,36801.70,4.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5000,46.59,34162.46,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5001,58.95,38974.97,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5002,31.86,21199.51,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5003,53.73,33214.51,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5004,46.05,34077.22,9.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [112]:
# dataset 8 am
df_8mattinaitalia = pd.DataFrame(columns=selected_columns1)
i = 7
while i < len(df_italia) :
    #print(df_italia.iloc[i])
    df_8mattinaitalia = df_8mattinaitalia.append(df_italia.iloc[i], ignore_index=True)
    i+=24

In [113]:
df_8mattinaitalia

,TSTOT.PrezzoITA,TSTOT.ConsumiITA,TSTOT.GradiITA,TSTOT.BankHolidayITA,TSTOT.EndYearITA,TSTOT.AugustBorderITA,TSTOT.EndYearITA,TSTOT.AugustCenterITA,lunedi,martedi,mercoledi,giovedi,venerdi,sabato,domenica
0,61.10,21393.44,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,77.81,31193.08,5.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,81.54,32828.72,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,83.08,33032.88,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,84.42,32607.85,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,31.40,18366.95,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1456,36.52,19012.19,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,37.86,19565.76,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1458,25.58,20564.55,5.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1459,25.91,20601.47,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [114]:
# dataset 12 am
df_12mattinaitalia = pd.DataFrame(columns=selected_columns1)
i = 11
while i < len(df_italia) :
    df_12mattinaitalia = df_12mattinaitalia.append(df_italia.iloc[i], ignore_index=True)
    i+=24

In [115]:
df_12mattinaitalia

,TSTOT.PrezzoITA,TSTOT.ConsumiITA,TSTOT.GradiITA,TSTOT.BankHolidayITA,TSTOT.EndYearITA,TSTOT.AugustBorderITA,TSTOT.EndYearITA,TSTOT.AugustCenterITA,lunedi,martedi,mercoledi,giovedi,venerdi,sabato,domenica
0,65.89,26333.19,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,86.40,36801.70,4.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,87.98,38104.09,3.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,86.08,37895.71,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,88.80,37201.12,5.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,36.35,20777.95,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1456,42.27,22314.22,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,52.35,29264.77,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1458,49.28,30202.84,-2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1459,46.69,29755.99,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [116]:
# dataset 20 pm
df_20seraitalia = pd.DataFrame(columns=selected_columns1)
i = 19
while i < len(df_italia) :
    df_20seraitalia = df_20seraitalia.append(df_italia.iloc[i], ignore_index=True)
    i+=24

In [117]:
df_20seraitalia

,TSTOT.PrezzoITA,TSTOT.ConsumiITA,TSTOT.GradiITA,TSTOT.BankHolidayITA,TSTOT.EndYearITA,TSTOT.AugustBorderITA,TSTOT.EndYearITA,TSTOT.AugustCenterITA,lunedi,martedi,mercoledi,giovedi,venerdi,sabato,domenica
0,105.63,31249.72,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,105.15,40177.41,4.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,104.66,40720.20,3.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,102.49,40696.49,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,109.90,40239.11,7.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,40.69,22562.52,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1456,50.19,24738.83,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,50.16,33166.64,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1458,51.45,33864.53,5.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1459,46.05,34077.22,9.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [118]:
df_20seraitalia.to_csv("/Volumes/HDD_Ale/Progetto_DSLAB/DATASET SERIE STORICHE/italia20sera.csv")
df_12mattinaitalia.to_csv("/Volumes/HDD_Ale/Progetto_DSLAB/DATASET SERIE STORICHE/italia12mattina.csv")
df_8mattinaitalia.to_csv("/Volumes/HDD_Ale/Progetto_DSLAB/DATASET SERIE STORICHE/italia8mattina.csv")

In [89]:
df1.columns

Index(['Unnamed: 0', 'TSTOT.PrezzoScandi', 'TSTOT.ConsumiScandi',
       'TSTOT.GradiScandi', 'TSTOT.ConsumipercScandi',
       'TSTOT.PrezzopercScandi', 'TSTOT.PrezzoPol', 'TSTOT.ConsumiPol',
       'TSTOT.ConsumipercPol', 'TSTOT.PrezzopercPol', 'TSTOT.GradiPol',
       'TSTOT.PrezzoUK', 'TSTOT.ConsumiUK', 'TSTOT.GradiUK',
       'TSTOT.ConsumipercUK', 'TSTOT.PrezzopercUK', 'TSTOT.BankHolidayScandi',
       'TSTOT.EndYearScandi', 'TSTOT.DayOfWeekScandi', 'TSTOT.DayOffScandi',
       'TSTOT.BankHolidayUK', 'TSTOT.EndYearUK', 'TSTOT.DayOfWeekUK',
       'TSTOT.DayOffUK', 'TSTOT.BankHolidayPol', 'TSTOT.EndYearPol',
       'TSTOT.DayOfWeekPol', 'TSTOT.DayOffPol', 'TSTOT.PrezzoITA',
       'TSTOT.ConsumiITA', 'TSTOT.GradiITA', 'TSTOT.ConsumipercITA',
       'TSTOT.PrezzopercITA', 'TSTOT.BankHolidayITA', 'TSTOT.EndYearITA',
       'TSTOT.AugustBorderITA', 'TSTOT.AugustCenterITA', 'TSTOT.DayOfWeekITA',
       'TSTOT.DayOffITA', 'df1ts.lunedi', 'df1ts.martedi', 'df1ts.mercoledi',
       'df1ts.giovedi', 'df1ts.venerdi', 'df1ts.sabato', 'df1ts.domenica'],
      dtype='object')

In [91]:
selected_columns = df1[['TSTOT.PrezzoScandi', 'TSTOT.ConsumiScandi','TSTOT.GradiScandi', 'TSTOT.ConsumipercScandi',
                     'TSTOT.PrezzopercScandi','TSTOT.BankHolidayScandi','TSTOT.EndYearScandi',
                     'TSTOT.DayOfWeekScandi', 'TSTOT.DayOffScandi']]
df_scandi = selected_columns.copy()

In [92]:
df_scandi["lunedi"] = pd.Series(df2["lunedi"], index=df1.index)
df_scandi["martedi"] = pd.Series(df2["martedi"], index=df1.index)
df_scandi["mercoledi"] = pd.Series(df2["mercoledi"], index=df1.index)
df_scandi["giovedi"] = pd.Series(df2["giovedi"], index=df1.index)
df_scandi["venerdi"] = pd.Series(df2["venerdi"], index=df1.index)
df_scandi["sabato"] = pd.Series(df2["sabato"], index=df1.index)
df_scandi["domenica"] = pd.Series(df2["domenica"], index=df1.index)

In [94]:
selected_columns = ['TSTOT.PrezzoScandi', 'TSTOT.ConsumiScandi','TSTOT.GradiScandi', 'TSTOT.ConsumipercScandi',
                     'TSTOT.PrezzopercScandi','TSTOT.BankHolidayScandi','TSTOT.EndYearScandi',
                     'TSTOT.DayOfWeekScandi', 'TSTOT.DayOffScandi', 'lunedi', 'martedi', 'mercoledi',
                     'giovedi', 'venerdi', 'sabato', 'domenica']

In [97]:
df_8mattinascandi

Empty DataFrame
Columns: [TSTOT.PrezzoITA, TSTOT.ConsumiITA, TSTOT.GradiITA, TSTOT.BankHolidayITA, TSTOT.EndYearITA, TSTOT.AugustBorderITA, TSTOT.EndYearITA, lunedi, martedi, mercoledi, giovedi, venerdi, sabato, domenica]
Index: []

In [98]:
# dataset 8 am
df_8mattinascandi = pd.DataFrame(columns=selected_columns)
i = 7
while i < len(df_italia) :
    #print(df_italia.iloc[i])
    df_8mattinascandi = df_8mattinascandi.append(df_scandi.iloc[i], ignore_index=True)
    i+=24

In [101]:
# dataset 12 am
df_12mattinascandi = pd.DataFrame(columns=selected_columns)
i = 11
while i < len(df_italia) :
    df_12mattinascandi = df_12mattinascandi.append(df_scandi.iloc[i], ignore_index=True)
    i+=24
    
# dataset 20 pm
df_20serascandi = pd.DataFrame(columns=selected_columns)
i = 19
while i < len(df_italia) :
    df_20serascandi = df_20serascandi.append(df_scandi.iloc[i], ignore_index=True)
    i+=24

In [103]:
df_20serascandi.to_csv("/Volumes/HDD_Ale/Progetto_DSLAB/DATASET SERIE STORICHE/scandinavia20sera.csv")
df_12mattinascandi.to_csv("/Volumes/HDD_Ale/Progetto_DSLAB/DATASET SERIE STORICHE/scandinavia12mattina.csv")
df_8mattinascandi.to_csv("/Volumes/HDD_Ale/Progetto_DSLAB/DATASET SERIE STORICHE/scandinavia8mattina.csv")

In [ ]:
#